<!-- reviews-index -->

<h1>Reviews</h1>

<!-- this is where we add a link to the Review page -->
<a href="/reviews/new/">New Review</a>

{{#each reviews}}
<h2>{{this.title}}</h2>
<small>{{this.movieTitle}}</small>
<small>{{this.description}}</small>
{{/each}}
