<!-- views/reviews-new.handlebars -->

<!-- has attribute called action that has a value equal to the path -->
<!-- /reviews is the route to our create action that will be added to our server  -->
<form method="POST" action="/reviews">

    <!-- DRY code -->
    {{> reviews-form}}

    <!-- BUTTON -->
    <p>
        <button type="submit">Save review</button>
    </p>

</form>
